body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.simplebar-scrollbar {
    background-color: transparent;
    border-radius: 7px;
    margin-right: 2px;
    visibility: hidden;
}

.simplebar-track.horizontal {
    display: none;
}
h1 {
    color: #c85f66;
}